.ModifierContainer {
    display: flex;

    align-items: center;

    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

.Title {
    flex: 2;
}

.Modifiers {
    flex: 3;

    display: flex;
    justify-content: space-around;

    font-size: 28px;
    font-weight: bold;
}